go 1.25.6

use (
	.
	./api-gateway
	./pkg/aws
	./services/identity-service
	./services/catalog-service
	./services/common
	./services/notification-service
	./services/order-service
	./services/agent-service
)
