name: OpenAPI Lint

on:
  pull_request:
  push:
    paths:
      - "docs/openapi.yaml"

jobs:
  spectral-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: Run Spectral Linter
        run: |
          npx -y @stoplight/spectral@6 lint docs/openapi.yaml
